body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 400px) {
    body{
        background-color: #0056b3;
    }
}

h1 {
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
}

.good-practices, .bad-practices {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.good-practices {
    background-color: #f9f9f9;
}

.bad-practices {
    background-color: #f0f0f0;
}

/* Cores */
.good-color {
    color: #333;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}

.bad-color {
    color: #666;
    background-color: #ccc;
    padding: 10px;
    border: 1px solid #bbb;
}

/* Tipografia */
.good-typography {
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}

.bad-typography {
    font-size: 12px;
    line-height: 1.2;
    color: #888;
}

/* Espaçamento */
.good-spacing {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.bad-spacing {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 0;
}

/* Elementos */
.good-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.good-button:hover {
    background-color: #0056b3;
}

.bad-button {
    background-color: #888;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 2px;
}

.bad-button:hover {
    background-color: #666;
}
